@model GMPA.Core.Models.ViewModels.CaseViewModel
@{
    Layout = "Main.cshtml";
}

<a href="javascript:history.back()">← Return to previous page</a>
<div class="container">
    <h1>@Model.PageTitle</h1>
    <h3 class="sectorTag">Sector: @Model.SectorTag</h3>
    <p>@Model.CaseIntro</p>

    <div class="divider" id="traction">
        @{
            <h2>Traction</h2>
            foreach (var countryContext in Model.CaseCountryContextBlock)
            {
                <h4>@countryContext.Traction</h4>
                @Html.Raw(countryContext.TractionDescription)
            }
        }
    </div>

    <div class="divider" id="policies">
        @{
            <div data-bs-toggle="collapse" data-bs-target="#PolicyTab" aria-expanded="false" aria-controls="PolicyTab">
                <h2 class="policy">Policies (Tab)</h2>
            </div>
            <div class="collapse" id="PolicyTab">
                @foreach (var casePolicy in Model.CasePolicyBlock)
                {
                    <div class="card">
                        <h4 class="card-header">@casePolicy.Title</h4>
                        <div class="card-body">
                            <p>@Html.Raw(casePolicy.InstrumentText)</p>
                            <div style="padding: 10px">
                                <h5>Policy Impact</h5>
                                @if (casePolicy.ImpactLevel != "")
                                {
                                    <div>
                                        Level: @casePolicy.ImpactLevel
                                    </div>
                                }
                                else
                                {
                                    <div>
                                        Level: TBD
                                    </div>
                                }
                                @if (casePolicy.ImpactEvaluation != "")
                                {
                                    <div>
                                        Evaluation: @casePolicy.ImpactEvaluation
                                    </div>
                                }
                                else
                                {
                                    <div>
                                        Evaluation: TBD
                                    </div>
                                }
                                @if (casePolicy.ImpactIndicator != "")
                                {
                                    <div>
                                        Indicator: @Html.Raw(casePolicy.ImpactIndicator)
                                    </div>
                                }
                                else
                                {
                                    <div>
                                        Indicator: TBD
                                    </div>
                                }
                            </div>
                        </div>

                        <div class="row card-footer">
                            <div class="col-1">
                                <div class="tagName">
                                    Policy Decision
                                </div>
                                <div class="tags">
                                    @casePolicy.PolicyDecision
                                </div>
                            </div>
                            <div class="col-1 tags">
                                <div class="tagName">
                                    Policy Origin
                                </div>
                                <div class="tags">
                                    @casePolicy.PolicyOrigin
                                </div>
                            </div>
                            <div class="col-1 tags">
                                <div class="tagName">
                                    Type of Policy
                                </div>
                                <div class="tags">
                                    @casePolicy.TypeOfPolicyInstrument
                                </div>
                            </div>
                            <div class="col-1 tags">
                                <div class="tagName">
                                    Jurisdiction
                                </div>
                                <div class="tags">
                                    @casePolicy.Jurisdiction
                                </div>
                            </div>
                            <div class="col-1 tags">
                                <div class="tagName">
                                    Enforcement level
                                </div>
                                <div class="tags">
                                    @casePolicy.EnforcementLevel
                                </div>
                            </div>
                            <div class="col-1 tags">
                                <div class="tagName">
                                    Sectoral coverage
                                </div>
                                <div class="tags">
                                    @casePolicy.SectoralCoverage
                                </div>
                            </div>
                            <div class="col-1 tags">
                                <div class="tagName">
                                    Target group(s)
                                </div>
                                <div class="tags">
                                    @foreach (var target in casePolicy.TargetGroup)
                                    {
                                        <div>
                                            @target
                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="col-1 tags">
                                <div class="tagName">
                                    Institutional requirement
                                </div>
                                <div class="tags">
                                    @casePolicy.InstitutionalRequirement
                                </div>
                            </div>
                            <div class="col-1 tags">
                                <div class="tagName">
                                    Implementation status
                                </div>
                                <div class="tags">
                                    @casePolicy.ImplementationStatus
                                </div>
                            </div>
                            <div class="col-1 tags">
                                <div class="tagName">
                                    Monitoring and evaluation
                                </div>
                                <div class="tags">
                                    @casePolicy.MonitoringAndEvaluation
                                </div>
                            </div>
                            <div class="col-1 tags">
                                <div class="tagName">
                                    Start date of implementation
                                </div>
                                <div class="tags">
                                    @casePolicy.StartDate
                                </div>
                            </div>
                            <div class="col-1 tags">
                                <div class="tagName">
                                    End date of implementation
                                </div>
                                <div class="tags">
                                    @if (casePolicy.EndDate != "1")
                                    {
                                        @casePolicy.EndDate
                                    }
                                    else
                                    {
                                        <div>n.d.</div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
    </div>

    <div class="divider" id="LockIn">
        @{
            <h2>Lock-ins</h2>
            var positiveCases = @Model.CaseLockInBlock
            .Where(a => a.NegativePositive);
            var negativeCases = @Model.CaseLockInBlock
            .Where(a => !a.NegativePositive);

            if (positiveCases.Count() != 0)
            {
                <h3>Positive Lock-ins</h3>
                @foreach (var positiveLock in positiveCases)
                {
                    <div>
                        <h4>@positiveLock.LockInType</h4>
                        @Html.Raw(positiveLock.BodyText)
                    </div>
                }
            }

            if (negativeCases.Count() != 0)
            {
                <h3>Negative Lock-ins</h3>
                @foreach (var negativeLock in negativeCases)
                {
                    <div>
                        <h4>@negativeLock.LockInType</h4>
                        @Html.Raw(negativeLock.BodyText)
                    </div>
                }
            }
        }
    </div>

    <div id="tag List">
        <h2>Tags</h2>
        <ul class="tagList">
            @{
                foreach (var tag in Model.TagsList)
                {
                    <li>@tag</li>
                }
            }
        </ul>
    </div>

    @{
        if (Model.CaseReferenceBlock.Count != 0)
        {
            <div class="reference-section" id="references">
                <h2>References</h2>
                @{
                    foreach (var reference in Model.CaseReferenceBlock)
                    {
                        <div class="reference-item">
                            <h6>@reference.ReferenceName</h6>
                            @if (@reference.ReferenceUrl == "")
                            {
                                <p>No reference link was found</p>
                            }
                            else
                            {
                                <a href="@reference.ReferenceUrl">@reference.ReferenceUrl</a>
                            }
                        </div>
                    }
                }
            </div>
        }
    }
</div>

<style>
    .sectorTag {
        color: darkgray;
        font-style: italic
    }

    .tagList {
        display: inline;
        list-style-type: none;
    }

        .tagList li {
            display: inline;
            color: darkgray;
            font-style: italic;
            font-size: 16px;
            margin-right: 5px;
        }

    .tagName {
        color: black;
        font-size: 15px;
    }

    .tags {
        color: darkgray;
        font-style: italic;
        font-size: 13px;
        margin-bottom: 10px;
    }

    .policy {
        cursor: pointer;
    }

    .reference-section h6 {
        margin-bottom: 0px;
    }

    .reference-item {
        margin-bottom: 10px;
    }

    .divider {
        position: relative;
        overflow: hidden;
    }

        .divider::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 75%;
            border-bottom: 1px solid gray;
        }

    .card {
        margin-bottom: 10px
    }
</style>