@model GMPA.Core.Models.ViewModels.CountryViewModel
@{
    Layout = "Main.cshtml";
}




<h1>
    @Model.PageTitle
</h1>

<div id="Normal">
    @{
        foreach (var normalBlock in Model.NormalBlockList)
        {
            <h2 id="@normalBlock.Title">@normalBlock.Title</h2>
            @Html.Raw(normalBlock.BodyText)

            if (normalBlock.Url != "")
            {
                <a href="@normalBlock.Url">Learn More about @Model.PageTitle</a>
            }

            if (normalBlock.ImageUrl != "")
            {
                <center>
                    <img src="@normalBlock.ImageUrl" />
                </center>
            }
        }
    }
</div>

<div id="Collasible">
    @{
        foreach (var collapsibleBlock in Model.CollapsibleBlockList)
        {
            <div data-bs-toggle="collapse" data-bs-target="#@collapsibleBlock.Id" aria-expanded="false" aria-controls="@collapsibleBlock.Id">
                <h2 class="collapsibleHeader">
                    @collapsibleBlock.Title
                </h2>
            </div>
            <div class="collapse" id="@collapsibleBlock.Id">
                @Html.Raw(collapsibleBlock.BodyText)

                @if (collapsibleBlock.ImageUrl == "")
                {
                    continue;
                }

                <center>
                    <img src="@collapsibleBlock.ImageUrl" />
                </center>
            </div>
        }
    }
</div>

<div>
    @Model.ContactName
    @Model.ContactTitle
    <img src="@Model.ContactImageUrl"/>
    @Model.ContactEmail
    @Model.ContactPhoneNumber
</div>

<style>
    .collapsibleHeader {
        cursor: pointer;
    }
</style>
